:root{
    --color-principal: rgb(103, 219, 80);
    --color-segundaria: rgb(69, 106, 131);
    --color-terciaria: rgb(37, 30, 30);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: var(--color-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input#input{
    text-align: center;
    width: 35%;
    border: 1px solid var(--color-terciaria);
}
button#button{
    background-color: var(--color-segundaria);
    text-align: center;
    width: 35%;
    margin-bottom: 30px;
    border: 1px solid var(--color-terciaria);
}
div.menu_pesquisa{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;   
}
div.resultado{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    margin-bottom: 50px;
}
h1 > span{
    font-size: 32px;
    font-weight: 300;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    transition: .3s;
    color: var(--color-segundaria);
}
h1 > span:hover{
    font-size: 48px;
}
img#pokemon_image{
    text-align: center;
    transition: .3s;
    scale: 1.4;
    padding: 5px;
    border: 3px solid var(--color-terciaria);border-radius: 50%;

}
img#pokemon_image:hover{
    scale: 2.6;
}